body{
    background-image: linear-gradient(to bottom right, white, gray);
}

.fret {
    border: 1px solid black;
    height: 50px;
    border-bottom: 2px solid white;
    border-right: 5px double white;
    background-image: url("../img/wood-pattern.png");
    background-color: #2E1203;
    padding:0;
}

.fret .note{
    font-size: 12px;
    position:absolute;
    text-align:center;
    margin: 0 auto;
    color:white;
}

.fret .circle{
    width:20px;
    height:20px;
    border-radius:50%;
    text-align:center;
    background:white;
    margin: 0 auto;
    opacity: 0;
}

.howTo{
    margin: 0 auto;
}

.header {
    background: none;
    margin: 0 auto;
}

.desc {
    margin: 0 auto;
}

.title {
    font-family: "Gugi", cursive !important;
    font-size:80px;
}
